<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table *ngIf="cars && cars.length > 0 else noCarsInfo" class="table cs-table">
                <thead>
                    <tr>
                        <th>car</th>
                        <th>plate</th>
                        <th>delivery date</th>
                        <th>deadline</th>
                        <th>client</th>
                        <th>cost</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars; let i = index">
                        <td [ngClass]="{'row-error': car?.isFullyDamaged}">{{ car?.model }}</td>
                        <td>{{ car?.plate }}</td>
                        <td>{{ car?.deliveryDate }}</td>
                        <td>{{ car?.deadline }}</td>
                        <td>{{ car?.clientFirstName }} {{car?.clientSurname}}</td>
                        <td>{{ car?.cost }}</td>
                        <td>{{i+1}}</td>                        
                    </tr>
                </tbody>
            </table>

            <ng-template #noCarsInfo>
                <div class="no-cars-info">
                    <p>Currently no cars in service</p>
                </div>
            </ng-template>

        </div>
    </div>
    <cs-total-cost #totalCostRef [costChildfromParent]="costParent" (costGrossChildForParent)="onCostGrossFromChild($event)">    
    </cs-total-cost>

    <div class="row" *ngIf="costGrossFromChild">
        <div class="col-sm-12">
            <div class="total-cost">
                <p>TOTAL GROSS COST: {{costGrossFromChild}} PLN</p>
            </div>
        </div>
    </div>

</div>
